// Specific CSS for your home-page
*
{
    outline: none;
}

.back-ground {
   height: 100%;
   margin-top: 100px;

}

.home-div {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    margin: 0;
    background-color: #ffffff;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}


form
{
    height: 96px;
}

input[type="text"]
{
    width: 60%;
    height: 50px;
    font-size: 20px;
    line-height: 1;
    margin: 20px;
    align-items: center;
}

input[type="text"]::placeholder
{
    color: #7c7b7bbb;
}


button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

.hometitle {
  color: #fff;
}
