// Import page-specific CSS files here.
@import "home";

h1 {
  font-family: 'Cinzel', serif;
}

p, h2, h6 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color:rgb(255, 255, 255) ;
}

#header {
  background: url(https://images.creativemarket.com/0.1.0/ps/1907678/1360/832/m1/fpnw/wm1/yx2ta58ruuzdibjrr6nhj2spdwp4q2hn8ayx1e6hqbwew3pt8ennfhrztdgjh2wj-.jpg?1479349334&s=10f360a69d05f809ca5fb4cc9a2a173c) center center / cover no-repeat ;
  height: 150px;
}

#header-dashboard {
  background-color: firebrick;
  height: 150px;
}

#header-restaurant-1 {
  background-size: cover;
  background-position: center;
  height: 32vh;
}

.header-restaurant {
  margin-top: 0px;
  background-color: #6b1717b5;
}

.display-3 {
  color: white;
  font-weight: 300;
  line-height: 1.2;
  font-size: 1.2rem;
}
.show-name{
  color: white;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2rem;
}

.lead {
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
}

.card-img-top {
  height: 250px;
}

#header-restaurant-2 {
  background-size: cover;
  background-position: center;
  height: 23vh;
}
