<div class="back-ground">
    <h1 class="hometitle">â” UP NEXT</h1>
    <p class="homepar">
        Find your favourite restaurant <br>
        Create your order from the menu <br>
        Send your order & book your table <br>
        Take a seat and get served easily!
    </p>
    <div>
      <%= form_tag restaurants_path, method: :get, class:"form-home" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a restaurant",
          submit_tag: "Search"
        %>
        <%= submit_tag "SEARCH", class: "btn btn-main" %>
      <% end %>
      </form>
      <%#= link_to 'OUR RESTAURANTS', restaurants_path, class: 'btn js-scroll-trigger' %>
    </div>
</div>
