<div class="back-ground">
    <h1 class="hometitle">➔ UP NEXT</h1>
    <p class="homepar">
      Do you want your meal ready in front of you when you go to the restaurant? <br>
      Up-Next is just for you</p>
    <div>
      <%= form_tag restaurants_path, method: :get, class:"form-home" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a restaurant",
          submit_tag: "Search"
        %>
        <%= submit_tag "SEARCH", class: "btn btn-main" %>
      <% end %>
      </form>
      <%#= link_to 'OUR RESTAURANTS', restaurants_path, class: 'btn js-scroll-trigger' %>
    </div>
</div>
