<h1>My Orders</h1>
<div class="tab-content" id="myTabContent">
  <div class="container">
    <section class="wrapper">
      <% @orders.each do |order| %>
          <%= render "shared/order_card", order: order %>
      <% end %>
    </section>
  </div>
</div>
