.btn {
  border-radius: 6px;
  font-family: 'Mukta Malar', sans-serif;
  text-align: center;
}

.btn {
  background-color: #a22114;
  font-size: 24px;
}

.btn-main{
  width: 88%;
  color: white;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  letter-spacing: 0.08rem;
}
.btn:hover {
  background-color: rgb(230, 230, 230);
}
.restaurant-btn{
  margin-top: 20px;
}
.restaurant-btn.restaurant{
  margin-left: 50px;
  padding-right: 20px;
}
.btn.btn-view{
  margin-top: 10px;
}

.btn-add-item {
  border-radius: 0 0 8px 8px;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-menu {
  border-radius: 0 0 8px 8px;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.btn-restaurant {
  position: absolute;
  bottom: 0;
}
.btn-green {
  background-color: #019a45;
  padding: 0.7rem;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 2rem;
  text-align: center;
}
.btn-delete {
  background-color: #a22114;
  padding: 0.7rem;
  border-radius: 8px 8px 8px 8px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
