.btn {
  border-radius: 6px;
}

.btn {
  background-color: #ff4c4b;
}

.btn:hover {
  background-color: rgb(230, 230, 230);
}
.restaurant-btn{
  margin-top: 20px;
}
.restaurant-btn.restaurant{
  margin-left: 50px;
  padding-right: 20px;
}
.btn.btn-view{
  margin-top: 10px;
}

.btn-add-item {
  border-radius: 0 0 8px 8px;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
