.card-body .dashboard {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body {
  margin-bottom: 175px;
}

input[type="text"] {
  width: 40%;
  height: 40px;
  font-size: 15px;
  line-height: 1;
  align-items: center;
}

.card{
  height: 690px;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow:hidden;
  border-radius:20px;
  min-height:450px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);


 @media (max-width: 768px) {
  min-height:350px;
}

@media (max-width: 420px) {
  min-height:300px;
}
}
