.navbar-lewagon {
  justify-content: space-between;
  background-color:rgb(255, 255, 255);
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.nav-center {
  text-align: center;
}
